---
export const prerender = false;

import BlogIndex from "../components/blog/BlogIndex.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <main class="mx-auto max-w-3xl px-4 py-8">
    <BlogIndex client:only="react" />
  </main>
</Layout>
